/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --background-color: #eff3f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*==================== BASE ====================*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

h2,
h3,
h4 {
  font-weight: 500;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/*==================== TAGS ====================*/
.tags {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin: 4.8rem 0;
}

.tags__item {
  background: var(--c2);
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 1rem;
}

.tags__item {
  font-size: 1.6rem;
}

.tags__item i {
  font-size: 1.6rem;
  margin-right: 0.8rem;
}

/*==================== CARDS ====================*/
.cards__container {
  position: relative;
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(1, auto);
  margin-bottom: 4.8rem;
}

label {
  width: fit-content;
}

.card {
  position: relative;
  width: 30rem;
  height: 30rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-bottom: 2.6rem;
}

.card__header--title {
  font-size: 2rem;
}

.card__header--icon {
  font-size: 2rem;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  backface-visibility: hidden;
  background: #fff;
  border-radius: 1rem;
  padding: 2.4rem;
  transition: 0.6s;
  cursor: pointer;
}

.card__back {
  transform: rotateY(180deg);
}

input {
  position: absolute;
  scale: 0;
}

input:checked ~ .card .card__back {
  transform: rotateY(0);
}

input:checked ~ .card .card__front {
  transform: rotateY(-180deg);
}

.card__value {
  font-style: normal;
  font-size: 8rem;
  line-height: 1;
}

.card__task {
  font-size: 1.4rem;
  margin: 0 0 3rem;
  font-weight: 500;
}

.color-blue {
  color: #3b82f6;
}

.color-red {
  color: #eb4146;
}

.color-green {
  color: #1cbf51;
}

.card__completed {
  font-size: 1.6rem;
  font-weight: 600;
  color: #8f8787;
}

.card__description {
  font-size: 1.6rem;
  color: #333131;
  text-align: left;
  text-wrap: pretty;
}

/*==================== SOCIAL ====================*/
.github {
  position: sticky;
  margin-bottom: 2.4rem;
}

.github a i {
  font-size: 3.6rem;
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.github a:hover i {
  color: hsla(0, 0%, 100%, 0.8);
  transition: transform 0.2s ease;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  .cards__container {
    grid-template-columns: repeat(2, auto);
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    height: 100vh;
  }

  .cards__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
